{{ define "main" }}
<div class="w-full space-y-12">
  <article class="prose lg:prose-xl">
    <h1 class="prose prose-2xl md:prose-3xl lg:prose-4xl font-heading text-center">{{ .Title }}</h1>
    {{ .Content }}
  </article>
  <hr class="border-t-2 border-muted-clay my-12">

  <div class="space-y-8">
    <h2 class="text-4xl font-bold font-heading text-center">Style Guide</h2>

    {{ partial "typography-display.html" . }}

    <hr label="Light" class="border-t-2 border-muted-clay my-12">

    {{ partial "color-palette-display.html" (dict "context" . "theme" "light") }}
    
    <hr label="Dark" class="border-t-2 border-muted-clay my-12">
    {{ partial "color-palette-display.html" (dict "context" . "theme" "dark") }}
  </div>
</div>
{{ end }}
    